/* Directives styles */
.weatherservices {
	height: 366px;
	width: 960px;
	border: solid 1px #FF9;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	overflow: hidden;
}
.weatherservices .container{
	height: 366px;
	width: 960px;
}

.freezing-bg{
	background-image: url(../images/snow1.jpg);
}
.heavyrain-bg{
	background-image: url(../images/rain1.jpg);
}
.heavysnow-bg{
	background-image: url(../images/snow1.jpg);
}
.highwind-bg{
	background-image: url(../images/wind1.jpg);
}
.winter-bg{
	background-image: url(../images/winter1.jpg);
}
.allergy-bg{
	background-image: url(../images/allergy1.jpg);
}
.default-bg{
	background-image: url(../images/springday.jpg);
}
.may-bg{
  background-image: url(../images/may.jpg);
}
.week-forecast{
	width: 930px;
	clear: both;
}

.current-temp{
	color: #FFF;
	font-size: 9em;
	font-weight: bold;
	line-height: 1em;
	text-shadow: 2px 2px #aaa;
	margin: 5px 30px;
	width: 300px;
}
.daily-temps {
	color: #FFF;
	font-size: 1.2em;
	text-shadow: 2px 2px #aaa;
	width: 60px;
	float: left;
/*	font-weight: bold;*/
}
.city-name{
	color: #FFF;
	font-size: 3em;
	font-weight: bold;
	text-shadow: 2px 2px #aaa;
	width: 300px;
	margin-left: 30px;
}
div.message{
	color: #FFF;
	font-size: 2em;
	font-weight: bold;
	margin-left: 20px;
	text-shadow: 2px 2px #aaa;
	width: 600px;
	float: right;
}
div.message a {
	color: #FFF;
	width: 600px;
}
div.temp-city {
	margin: 15px 15px 0px 15px;
	width: 300px;
	overflow: hidden;
	height: 195px;
	width:320px;
}
div.service-suggestion{
	color: #FFF;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 2px 2px #aaa;
	width: 600px;
}
div.service-response{
	width: 600px;
	float: right;
	clear: right;
}
