<div class="weatherservices">
	<div class="container {{forecast.messages.0.imagestyle}}">
		<div class="current-temp">{{forecast.messages.0.currently.temperature | number:0}}F</div>
		<div class="city-name">{{currentCity}}</div>
		<div class="message">{{forecast.messages.0.message}}</div>
		<div class="week-forecast">
			<div class="daily-temps">sun:{{forecast.messages.0.temperatureMax}} - {{forecast.messages.0.temperatureMin | number:0}}</div>
			<div class="daily-temps">mon:{{forecast.messages.1.temperatureMax}} - {{forecast.messages.1.temperatureMin | number:0}}</div>
			<div class="daily-temps">tue:{{forecast.messages.2.temperatureMax}} - {{forecast.messages.2.temperatureMin | number:0}}</div>
			<div class="daily-temps">wed:{{forecast.messages.3.temperatureMax}} - {{forecast.messages.3.temperatureMin}}</div>
			<div class="daily-temps">thr:{{forecast.messages.4.temperatureMax}} - {{forecast.messages.4.temperatureMin}}</div>
			<div class="daily-temps">fri:{{forecast.messages.5.temperatureMax}} - {{forecast.messages.5.temperatureMin}}</div>
			<div class="daily-temps">sat:{{forecast.messages.6.temperatureMax}} - {{forecast.messages.6.temperatureMin}}</div>
		</div>
		<div>{{forecast.messages.0.url}}</div>
		<div>{{forecast.messages.0.message}}</div>
		<div>{{forecast.messages.0.sps.0}}</div>
		<div></div>l
	</div>
</div>
